header {
    height: 56px;
}

.site-nav {
    width: 100%;
    right: 0;
    top: 0;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    color: #3C4948;
    background: url(assets/img/obudget_key.png) no-repeat;
    background-size: 23px 52px;
    overflow: hidden;
    height: calc(100% - 3);
    width: 141px;
}

.navbar-nav > li > a {
    color: #555;
}

.navbar-left {
    height: calc(100% - 2);
    overflow: hidden;
    margin-left: -10px;
}

h3 {
margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}